@using edurate.Web.Resources;
@{
    ViewBag.Title = "Home Page";
}

<h1>Home Page</h1>
<p>Magna? Enim auctor diam enim? Sed elementum. Nascetur amet sit ut mattis massa a, ut elementum lacus tortor pulvinar! Pulvinar cursus urna augue penatibus aliquam dapibus nisi phasellus magnis, integer magna scelerisque nisi auctor nec! Nisi placerat diam nunc! Duis magna! Cras dolor magnis duis, lorem egestas habitasse aliquam dis nunc augue porta turpis rhoncus nunc non vut, mauris ac amet magna natoque velit? Ultricies et magna vel dis ridiculus ridiculus, natoque nunc turpis aliquam, dapibus auctor proin et, lectus lacus, habitasse tristique! In cum tincidunt ut, non nec. Arcu? Sed magnis velit ut purus, augue ut pulvinar penatibus, vel vel nascetur? Natoque a dictumst odio, porttitor, pulvinar pulvinar duis phasellus, massa placerat, eu quis integer tristique eros porta. Aenean elementum porttitor et sed, elementum enim integer, adipiscing dignissim, non penatibus! Ut non tincidunt velit turpis nec augue augue, augue mid, habitasse porttitor mattis sed aliquam! Tincidunt enim ut.</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
